In [1]:
#Printing Hello World
print("Hello World")

Hello World

In [8]:
#Assigning Variables
myint = 7
print(myint)
myfloat = 7.0
print(myfloat)
mystring = "Hello"
print(mystring)

7
7.0
Hello

In [13]:
#Data Type
type(1)

int

In [14]:
#Data Type
type(1.0)

float

In [15]:
#Data Type
type("Bhavik")

str

In [16]:
#Data Type
type(True)

bool

In [19]:
a = "Bhavik"
b = "Amardas"
c = "Dudhrejiya"
print(a + " "+b+" "+c)

Bhavik Amardas Dudhrejiya

In [20]:
a,b = 3,4
print(a,b)

3 4

#Arithmetic Operators

In [26]:
3+5 #Addition

8

In [27]:
54-46 #Subtraction

8

In [28]:
2 *3 #Multiplication

6

In [29]:
35/7 #Division

5.0

In [32]:
#concatenate string with Numbers
"Bhavik" + " " + "20"
#While concatenate string  with number, It shows an error due to string will not implicite with numbers hence number has to convert into string

'Bhavik 20'

In [33]:
#Multiplication of string
"Bhavik" * 10

'BhavikBhavikBhavikBhavikBhavikBhavikBhavikBhavikBhavikBhavik'

#Comparision Operator

In [34]:
#Greater Than
45>34

True

In [35]:
#Less Than
56<23

False

In [36]:
#
34*34 <45*23

False

In [38]:
45==45

True

In [39]:
45==55

False

In [40]:
45<=50

True

In [42]:
60>=45

True

In [44]:
60!=70

True

#Logical Operators
#And Operator

In [45]:
0 and 3

0

In [46]:
3 and 0

0

In [47]:
3 and 5

5

#Or Operator

In [48]:
0 or 3

3

In [49]:
3 or 0

3

In [50]:
3 or 5

3

    VARIABLE ASSIGNMENT

In [2]:
a = 5
print(a)

5

In [3]:
A = 6
print(A)

6

    HOW VARIABLES WORK IN PYTHON

In [4]:
a = 7
b = a
a = 3

In [5]:
print(a)

3

In [6]:
print(b)

7

    VARIABLE NAMING RULES

In [7]:
a = 5

In [8]:
_a = 5

In [10]:
@a = 5

SyntaxError: invalid syntax (<ipython-input-10-e5107a593958>, line 1)

In [11]:
1a = 5

SyntaxError: invalid syntax (<ipython-input-11-ce2af4c14e7e>, line 1)

IF ALSE STATEMENT

In [18]:
x = 5

if(x%2 == 0):
    print("Even")
else:
    print("Odd")

Odd

In [21]:
y = 59

if(y>90):
    print("Grade A")
elif(y>60 and y<=90):
    print("Grade B")
else:
    print("Grade F")

Grade F

LOOP FUNCTION - FOR

In [24]:
for i in ' ':
    print(i)

In [25]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [30]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

USER DEFINED FUNCTION

In [31]:
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
    return greater

In [34]:
compare(20,50)

50

In [35]:
def odd(a):
    if a%2==0:
        print("not odd")
    else:
        print("odd")

In [36]:
odd(9)

odd

In [38]:
def min(a,b):
    if(a>b):
        return b
    elif(a==b):
        return 'The numbers are equal'
    else:
        return a

In [39]:
min(200,400)

200

LIST

In [41]:
#Creating list
marks = [1,2,3,4,5,6,7,8,9,10]

In [42]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#Accessing list through index number
marks[0]

1

In [48]:
marks[9]

10

In [49]:
#Accessing list through range index
marks[0:6]

[1, 2, 3, 4, 5, 6]

In [50]:
#Adding element in a list
marks.append(11)

In [51]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [52]:
#Adding multiple elements in a list
marks.extend([12,13,14])

In [53]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [54]:
#Adding list in a list
marks.append([15,16])

In [55]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, [15, 16]]

In [56]:
#Deleting element in a list through index number
del marks[0]

In [57]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, [15, 16]]

In [58]:
#Deleting element in a list through element
marks.remove([15,16])

In [59]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [60]:
#Accessing list elements
for mark in marks:
    print(mark)

2
3
4
5
6
7
8
9
10
11
12
13
14

DICTIONARY

In [61]:
#Creating Dictionary
marks = {'Histroy':45, 'Geography':54,'Hindi':56}

In [62]:
marks

{'Histroy': 45, 'Geography': 54, 'Hindi': 56}

In [63]:
#Accessing into dictionary
marks['Geography']

54

In [64]:
#Adding elements into dictionary
marks['English']=47

In [65]:
marks

{'Histroy': 45, 'Geography': 54, 'Hindi': 56, 'English': 47}

In [66]:
#Adding multiple elements into dictionary
marks.update({'Chemistry':89,'Physics':98})

In [67]:
marks

{'Histroy': 45,
 'Geography': 54,
 'Hindi': 56,
 'English': 47,
 'Chemistry': 89,
 'Physics': 98}

In [68]:
#Deleting elements in dictionary through key
del marks['Hindi']

In [69]:
marks

{'Histroy': 45, 'Geography': 54, 'English': 47, 'Chemistry': 89, 'Physics': 98}

In [70]:
a = dict()
a[1]

KeyError: 1