# CREATING LIST

In [46]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate']
Participant

['John', 'Leila', 'Gregory', 'Cate']

# ACCESSING LIST

In [34]:
#Accessing the list through Positive Index
Participant[0]
print(Participant[0])
print(Participant[1])
print(Participant[2])
print(Participant[3])

John
Leila
Gregory
Cate

In [35]:
#Accessing the list through Negative Index
Participant[-1]
print(Participant[-1])
print(Participant[-2])
print(Participant[-3])
print(Participant[-4])

Cate
Gregory
Leila
John

# MAKE CHAGES IN LIST

In [36]:
#Make changes in the list
Participant[3]='Maria'
Participant

['John', 'Leila', 'Gregory', 'Maria']

# DELETION/REMOVING VALUES IN LIST

In [63]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate']
Participant

['John', 'Leila', 'Gregory', 'Cate']

In [54]:
#Removing/Deleting single value in the list
del Participant[1]
Participant

['John', 'Gregory', 'Cate']

In [55]:
#Deleting multiple values in the list
del Participant[0:2]
Participant

['Cate']

# ADDING OR UPDATING LIST

In [38]:
#Adding or Updating single value in existing list
Participant.append("Dwayne")
Participant

['John', 'Gregory', 'Maria', 'Dwayne']

In [40]:
#Adding or Updating Multiple values in existing list
Participant.extend(['George','Catherine'])
Participant

['John', 'Gregory', 'Maria', 'Dwayne', 'George', 'Catherine']

# CONCATINATION

In [68]:
#Concatination of in printing
print("My name is" + " " + Participant[0] + '.')

My name is John.

# COUNT/LENGTH OF LIST / VALUE / CHARACTER

In [69]:
#Counting value in the list
len(Participant)

4

In [70]:
#Counting Number of alphabets in a stentance
len("My name is Bhavik")

17

In [71]:
#Counting Number of digits in a numbers
len("12345648653132135")

17

# SLICING A LIST

In [73]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate','Catherine','Maria']
Participant

['John', 'Leila', 'Gregory', 'Cate', 'Catherine', 'Maria']

In [74]:
#Selecting first three values from the list
Participant[0:3]

['John', 'Leila', 'Gregory']

In [83]:
#Selecting last five value through negative index
Participant[-5:-1]

['Leila', 'Gregory', 'Cate', 'Catherine']

In [75]:
#Selecting first two values from the list
Participant[:2]

['John', 'Leila']

In [84]:
#Selecting first four values through negative index
Participant[:-2]

['John', 'Leila', 'Gregory', 'Cate']

In [76]:
#Selecting last two values from the list
Participant[4:]

['Catherine', 'Maria']

In [85]:
#Selecting last four values from the list
Participant[-4:]

['Gregory', 'Cate', 'Catherine', 'Maria']

In [77]:
Participant[-2:-4]

['Catherine', 'Maria']

# EXTRACTING INDEX NUMBER FROM THE LIST

In [86]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate','Catherine','Maria']
Participant

['John', 'Leila', 'Gregory', 'Cate', 'Catherine', 'Maria']

In [87]:
#Extracting index number of John
Participant.index("John")

0

In [88]:
#Extracting index number of Cate
Participant.index("Cate")

3

# CREATING LIST OF TWO LISTS

In [90]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate','Catherine','Maria']
Participant

#Creating list of Newcomers
Newcomers = ['John','Brittany']
Newcomers

['John', 'Brittany']

In [91]:
#Creating list of Bigger list
Bigger_list = [Participant,Newcomers]
Bigger_list

[['John', 'Leila', 'Gregory', 'Cate', 'Catherine', 'Maria'],
 ['John', 'Brittany']]

# SOTING A LIST

In [93]:
#Creating number list
Numbers=[1,3,2,4,6,5,7,9,8,10]

#Sorting a list with ascensing order
Numbers.sort()
Numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
#Sorting a list with ascensing order
Numbers.sort(reverse=True)
Numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
#Creating list of names
Participant = ['John','Leila','Gregory','Cate','Catherine','Maria']

#Sorting a list with ascensing order
Participant.sort()
Participant

['Cate', 'Catherine', 'Gregory', 'John', 'Leila', 'Maria']

In [96]:
#Sorting a list with descensing order
Participant.sort(reverse=True)
Participant

['Maria', 'Leila', 'John', 'Gregory', 'Catherine', 'Cate']

# CREATING TUPPLE

In [97]:
#Creating tupple with bracket
x=(40,41,42)
x

(40, 41, 42)

In [98]:
#Creating tupple without bracket
y=50,51,52
y

(50, 51, 52)

In [100]:
#Creating multiple tupple with signle value
a,b,c=1,4,6
a,b,c

(1, 4, 6)

In [107]:
#Creating multiple tupple with multiple value
Marks,Result = (50,20,30,80,100),("Pass","Fail","Fail","Pass","Pass")
Marks,Result

((50, 20, 30, 80, 100), ('Pass', 'Fail', 'Fail', 'Pass', 'Pass'))

# LIST OF TUPPLE

In [108]:
#Creating list of two tupple
List = [x,y]
List

[(40, 41, 42), (50, 51, 52)]

# SPLITING TEXT

In [ ]:
# Spliting the test
(age,Year_of_school)="30,17".split(',')
print(age)
print(Year_of_school)

In [116]:
#Spliting the test
Participant="Maria, Leila,John,Gregory,Catherine,Cate"
Participant
Participant.split(',')

['Maria', ' Leila', 'John', 'Gregory', 'Catherine', 'Cate']

In [118]:
def square_info(x):
    A=x**2
    P=4*x
    print("Area & Perimeter:")
    return A,P
square_info(3)

Area & Perimeter:

(9, 12)